
*.ser
RandomEpisodeGenerator/.idea/caches/build_file_checksums.ser
RandomEpisodeGenerator/.idea/dictionaries/micha.xml
RandomEpisodeGenerator/.idea/gradle.xml
RandomEpisodeGenerator/.idea/misc.xml
RandomEpisodeGenerator/.idea/runConfigurations.xml
RandomEpisodeGenerator/.idea/vcs.xml
